@import "../../../variables.scss";

main {
  margin-block-end: 3rem;
}

h2 {
  margin-block: 2rem;
  color: $red-color;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.container-utility {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-weight: 600;
    font-size: clamp(1.125rem, 3.5vw, 1.5rem);
  }
  .inner-wrapper {
    border-radius: 10px;
    max-width: 900px;
    width: 75%;
    background-color: $green-color;
  }
  table {
    width: 100%;
    color: $cream-color;
    border-collapse: collapse;
    thead {
      text-align: left;
    }
    thead th.d-flex {
      border-radius: 12px 12px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .search-input {
      border: 2px solid $red-color;
      color: $green-color;
      font-weight: bold;
      width: 25%;
      font-size: 0.9rem;
      z-index: 99;
      padding: 0.5rem;
    }
    .person-input {
      width: 35%;
    }
    th {
      padding: 0.75rem 1.5rem 0.75rem 0;
    }
    th:first-child {
      padding: 0.75rem 1.5rem;
    }
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      transition: color 225ms linear;
    }
    tbody tr:hover {
      background-color: $red-color;
    }
    tr:last-child td {
      border-radius: 0 0 12px 12px;
    }
    td {
      font-weight: 400;
      font-size: clamp(1rem, 3.5vw, 1.25rem);
      height: 100%;
      a {
        display: block;
        padding: 0.75rem 1.5rem;
        height: 100%;
        width: 100%;
      }
    }
    td.quotes {
      padding: 0.75rem 1.5rem;
    }
  }
}

.quotes-wrapper table {
  min-height: 325px;
}

@media (max-width: 768px) {
  h2 {
    margin-block: 1rem;
  }
  .container-utility {
    .inner-wrapper {
      width: 80%;
    }
    table {
      th {
        padding: 0.75rem 1rem 0.75rem 0;
      }
      th:first-child {
        padding: 0.75rem 1rem;
      }
      td {
        padding-inline: 0 12px;
      }
    }
  }
}

@media (max-width: 576px) {
  .container-utility {
    .inner-wrapper {
      width: 90%;
    }
  }
}
